body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #866bc3, #5732a0);
}

button:not(:disabled):hover {
  scale: 105%;
}

#user-interface {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}

.icon-container {
  position: fixed;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}

.icon-container:hover svg {
  stroke-width: 2px;
}

.description-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}

.description {
  width: 20%;
  height: 120px;
  border: 2px solid #170029;
  border-radius: 10px;
  background: #ffffff;
  color: #170029;
  padding: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 500px;
  height: 80%;
  min-height: 500px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
}

.login-container-header {
  display: flex;
  background-color: #170029;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0px;
}

.input-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

.field-input-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
  height: 24px;
  background-color: #ffffff;
  border: #b7b7b7 2px solid;
  border-radius: 12px;
  padding: 10px;
  font-size: 18px;
  display: flex;
  outline: none;
}

input:focus {
  border: #555b56 2px solid;
  outline: none;
}

input::placeholder {
  color: #707070;
  font-size: 16px;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1000px;
  height: 60%;
  min-height: 600px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
}

.container-header {
  display: flex;
  background-color: #170029;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0px;
}

.card {
  width: 80%;
  max-width: 700px;
  height: 60%;
  max-height: 300px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  color: #170029;
  border: 5px solid #170029;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  font-size: 48px;
}

.card-back {
  transform: rotateY(180deg);
  background: #ffdbfe;
}

.container-next-button {
  width: 100%;
  height: 100px;
  border-top: 2px solid #170029;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.next-button {
  width: auto;
  height: 60px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid #3f1161;
  border-radius: 10px;
  background-color: #ffffff;
  color: #170029;
  transition: background-color 0.3s;
}

.next-button:not(:disabled):hover {
  background-color: #e6d9f7;
  font-size: 24px;
}

.next-button:disabled {
  background-color: #c8c8c8;
  color: #858585;
  font-size: auto;
  border-color: #8e8e8e;
}

.question {
  width: 40%;
  height: 80px;
  border: 2px solid #170029;
  border-radius: 10px;
  background: #ffdbfe;
  color: #170029;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.answer-block {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.answer,
.answer-big {
  width: 40%;
  height: 80px;
  background-color: #ffffff;
  border: #3f1161 2px solid;
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #1a0035;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.answer-big {
  height: 120px;
}

.answer:hover,
.answer-big:hover {
  background-color: #ebc0ff;
  font-size: 24px;
  border-color: #1e072e;
}

.correct-answer {
  background-color: #21b621;
  color: white;
}

.incorrect-answer {
  background-color: #c93030;
  color: white;
}

.answer:disabled,
.answer-big:disabled {
  pointer-events: none;
  border-color: #c8c8c8;
}

.hide {
  display: none;
}

h5 {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.message-container {
  width: 60%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #170029;
  background-color: #ffffff;
  border: 3px solid #170029;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.learned-words-container {
  display: flex;
  height: auto;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 20px;
}

ol {
  width: 100%;
  height: auto;
}

ol {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  column-gap: 80px;
}

li {
  margin: 10px 0;
  font-size: 12px;
}

.learned-words-button {
  width: auto;
  height: 50px;
  padding: auto 20px;
  font-size: 18px;
  cursor: pointer;
  border: 3px solid #3f1161;
  border-radius: 10px;
  background-color: #ffffff;
  color: #170029;
  transition: background-color 0.3s;
}

.learned-words-button:hover {
  background-color: #e6d9f7;
  font-size: 24px;
}
